{% extends "base_generic.html" %}

{% block title %}<title>Список цемента</title>{% endblock %}

{% block content %}

    <h1>Список цемента</h1>

    {% if cement_list %}
    <ul class="list">

      {% for cement in cement_list %}

        <div class="wrap">
            <li>
                <a href="{{ cement.get_absolute_url }}">{{ cement.title }}</a> ({{cement.stamp}})
                <img src="{{ cement.img.url }}" alt="lumber_photo" width="200" height="200">
            </li>
        </div>

      {% endfor %}

    </ul>
    {% else %}
      <p>There are no cement in the base.</p>
    {% endif %} 
{% endblock %}