{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>{{ lumber.title }}</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
<div class="flex_centred">

  <h1 class="title">{{ lumber.title }}</h1>

  <img src="{{ lumber.img.url }}" alt="lumber_photo" width="200" height="200">

  <ul class="tech_info">
    <li><strong>Размер: </strong> {{ lumber.size }}</li>
    <li><strong>Сорт: </strong> {{lumber.type}}</li>
    <li><strong>Количество досок в одном кубе: </strong> {{ lumber.num_in_cube }} </li>
    <li><strong>ГОСТ: </strong> {{ lumber.gost }}</li>
  </ul>


    <h2 class="title">Доступно на складе:</h2>

    {% for lumber in lumber.lumberinstance_set.all %}
    <hr>
    <div class="black">
      {% if lumber.status == 'о' %}<p><strong>Отсутствует на складе</strong></p>{% endif %}
      {% if lumber.status == 'д' %}<p><strong></strong> Доступно: {{lumber.count}} штук {{lumber.type}}</p>{% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}